:root {
    --blue-shade: #0C4A6E;
    --grey-boxes: #F4F4F5;
    --off-white: #FAFAFA;
}
 
body {
    font-family: Arial, Helvetica, sans-serif;
}
 
/* Utility Classes */
 
.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: row;
}
 
.inner-container {
    margin: 0 auto;
    max-width: 1528px;
    padding: 2rem 1.75rem;
}
 
/* Typography */
h1 {
    font-size: 1.625rem;
    color: #F4F4F5;
    font-weight: 700;
    font-style: normal;
    line-height: 150%;
}
 
h2 {
    font-size: 3.75rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}
 
h3 {
    font-size: 3rem;
    font-weight: 700;
    font-style: normal;
    line-height: 150%;
}
 
h4 {
    font-size: 2.125rem;
    font-weight: 700;
}
 
p {
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
}
 
/* body */
.name-card {
    display: flex;
    flex-direction: row;
    width: calc((100% / 2) - (2rem / 2));
    background-color: #F4F4F5;
    padding: 2.5rem 1.5625rem;
    gap: 2rem;
    text-align: center;
    justify-content: center;
}
/* Flexbox decision #1: added flex to create an equal layout for the team member tiles; added flex-direction: row to ensured that the tiles were read from left to right and not stacked on top of each other */
 
.team {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6rem;
}
 
header {
    background-color: var(--blue-shade);
    height: 91px;
}
 
.plan {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% / 3) - (4rem / 3));
    background-color: var(--grey-boxes);
    padding: 1.75rem 5.6875rem;
    align-items: center;
}
/* Flexbox decision #2: used flex-wrap to bring all three tiles beside each other on the same line with equal spacing, using the same methods as the team member's section but adjusting the math/calc function to reflect this section's information */
 
.plan ul li {
    list-style-type: disc;
}
 
.service-plans {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6rem;
}
/* Flexbox decision #3: added flex wrap here to seperate the service plans from the title, otherwise without flex, all of the content and service plan tiles were beside one another */
 
.service-features {
    font-size: 2.125rem;
    font-weight: 700;
}
 
.bold-prices {
    font-weight: 700;
    color: var(--blue-shade);
}
 
 
/* Footer */
 
footer {
    background-color: var(--blue-shade);
 
}
 
footer p {
    color: var(--off-white);
    font-size: 1rem;
}
 
.footer-white {
    color: var(--off-white);
    font-size: 1rem;
}